body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#hero-container {
  position: relative;
  display: flex;
} 

#hero {
  width: 38.125rem;
  height: 50rem;
  flex-shrink: 0;
}



#pattern {
  width: 52rem;
  height: 50rem;
  flex-shrink: 0;
}

#content-container {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  left: 160px;
  top: 50px;
  min-height: 663.72px;
}

#logo {
  width: 9.875rem;
  height: 2.0625rem;
  flex-shrink: 0;
  margin-bottom: 135px;
  margin-top: 20px;
}

#were {
  color: #CE9898;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 1.08256rem;
}

#heading {
  color: #423A3A;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4375rem; 
  letter-spacing: 1.08256rem;
  margin-bottom: 10px;
}

#greeting {
  color: hsl(0, 36%, 70%);
  font-family: Josefin Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 26px;
 
}

#email-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#email-bar {
  border-radius: 1.75rem;
  border: 1px solid #CE9898;
  opacity: 0.5;
  width: 27.8125rem;
  height: 3.3rem;
  flex-shrink: 0;
  color: #CE9898;
  font-family: Josefin Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  text-indent: 1.7rem; 
}

#arrow-button {
  position: absolute;
  left: 21.92rem;
  bottom: 0.02rem;
  width: 6.25rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 1.75rem;
  border: none;
  font-size: 2rem;
  font-weight: 100;
  background-image: linear-gradient(to right,hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
  color: white;
  box-shadow: rgba(199, 63, 63, 0.445) 0px 30px 60px -15px, rgba(209, 66, 66, 0.644) 0px 18px 36px -18px;
  cursor: pointer;
  
}

#arrow-button:hover {
  background-image: linear-gradient(to right, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
}

input:focus {
  outline-style: none;
  
}

#valid-email {
  color: #F96464;
  margin-top: 16px;
  margin-right: 186px;
  font-weight: 400;
  display: none;
}

#error {
  position: absolute;
  left: 19.50rem;
  top: 1rem;
  display: none;
}

#mobile-hero {
  display: none;
}

.two {
  display: none;
}


@media screen and (max-device-width: 414px) {
   
 #one {
    display: none;
  }

  .two {
    display: block;
  }

  #three {
    display: none;
  }

  #hero-container {
    margin-bottom: 60px;
  }

  #hero {
    display: none;
  }

  #pattern {
    display: none;
  }

  #logo {
    
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 150px;
  }

  #content-container {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 663.72px;
  }

  #mobile-hero {
    display: block;
    margin-bottom: 35px;
  }

  #were {
    color: #CE9898;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.625rem; /* 105% */
    letter-spacing: 0.67656rem;
  }

  #heading {
    color: #423A3A;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem; /* 105% */
    letter-spacing: 0.67656rem;
  }

  #greeting {
    color: #CE9898;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; 
  }

  #email-bar {
    width: 19.4375rem;
    height: 2.90rem;
    flex-shrink: 0;
    align-self: center;
    display: flex;
    margin-right: 0;
  }

  #arrow-button {
    width: 4rem;
    height: 3rem;
    flex-shrink: 0;
    left: 16rem;
    bottom: 0.11rem;
  }

  #valid-email {
    
    margin-right: 52px;
  }
  
}